@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body{
	background-color: #FAF5E2;
}
#texts_kr{
	font-family: 'Jua', sans-serif;
}
#Main_content{
	box-shadow: 2px 2px 2px gray;
	background-color: white;
	padding: 2%;
	margin: 2%;
}
#client_content{
	box-shadow: 2px 2px 2px gray;
	background-color: white;
	padding: 2%;
	margin: 3% 30% 3% 30%;
}