<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ClientMapper을 통해 Service에 주입할 쿼리문 -->
<mapper namespace="cs.dit.mapper.ClientMapper">
	<!-- DB의 데이터를 조건에 맞게 가져오는 쿼리 -->
	<select id="getlistP" resultType="cs.dit.dto.ClientVO">
		select * from my_client
	</select>
	<!-- DB의 데이터를 조건에 맞게 가져오는 쿼리 -->
	<!-- DB의 데이터와 input의 데이터가 일치하는지 확인하는 쿼리 -->
	<select id="loginCheck" resultType="cs.dit.dto.ClientVO">
		select * from my_client where userid = #{userid} and passwd = #{passwd}
	</select>
	<!-- DB의 데이터와 input의 데이터가 일치하는지 확인하는 쿼리 -->
	<!-- DB의 권한으로 데이터를 삽입 삭제 업데이트하는 쿼리 -->
	<insert id="signUp">
		insert into my_client(userid , passwd, name, email)values(#{userid}, #{passwd}, #{name}, #{email})
	</insert>
	<delete id="deleteP">
		delete from my_client where userid = #{userid}
	</delete>
	<update id="updateP">
		update my_client set passwd = #{passwd}, name = #{name}, email = #{email} where userid = #{userid}
	</update>
	<!-- DB의 권한으로 데이터를 삽입 삭제 업데이트하는 쿼리 -->
</mapper>